<footer>
  <p mt-8 text-xs op-30>
    <span pr-1>Made by</span>
    <a>
      bbroot
    </a>
    <span px-1>|</span>
    <a
      b-slate-link
      href="https://www.explainthis.io/zh-hans/chatgpt" target="_blank"
    >
      更多使用方法
    </a>
  </p>
</footer>
